body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

@font-face {
  font-family: 'SchibstedGrotesk';
  src: url('/fonts/SchibstedGrotesk-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SchibstedGroteskBold';
  src: url('/fonts/SchibstedGrotesk-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
